doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='description', content='Ejemplo del Uso de Node.js, Jade, Mysql y Express para backend')
		meta(name='author', content='@WalterC_87')
		title= title
		link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/demo_pulse.css')
		
		

	body
		block content
		block scripts