extends layout

block content
	header
		figure
			img(src='/images/demo_logo.png') 
		p Puls3
		nav
			ul
				li
					a(href="#") Home
				li
					a(href="/proyecto") Proyecto
				li
					a(href="#") Colaborar
				li
					a(href="/login") Ingresar
	h1 Estas en la descripción del proyecto