peach = #ff813e 

body
	background-color #ecf0f1
	margin 0
	padding 0
	font-family 'Open Sans', sans-serif


header
	background-color #2c3e50
	border-bottom 5px solid peach
	width 100%
	height 75px
	margin 0
	padding 0
	img
		width 100%

	figure,p, nav
		display inline-block
		vertical-align middle

	figure
		margin 0
		padding 0
		margin-left 50px
		width 50px
	p
		color peach
		font-size 45px
		margin 0
		padding 0
		margin-left 10px
		text-transform uppercase
	nav
		width 50%
		height 100%
		margin-left 50px
		ul
			list-style none
			height 100%
			margin 0
			padding 0
			text-align left 

			li
				display inline-block
				vertical-align bottom
				height 100%
				margin-left 30px
				padding 0 15px 0 15px
				-webkit-transition all 0.3s ease-in-out
				-moz-transition all 0.3s ease-in-out
				-o-transition all 0.3s ease-in-out
				transition all 0.3s ease-in-out

				&:hover
					cursor pointer
					background-color peach
					-webkit-transition all 0.3s ease-in-out
					-moz-transition all 0.3s ease-in-out
					-o-transition all 0.3s ease-in-out
					transition all 0.3s ease-in-out 

					a
						color #FFF
						text-decoration none

				a 
					color peach
					font-size 20px
					position relative
					top 30%
					text-decoration none

.contorno
	border 2px solid peach
	margin-left 0

.divider
	color peach
	border-bottom 1px solid peach
	box-shadow 0 1px #e67e22
	padding-bottom 5px
	width 100%

.error
	font-size 20px

.error-title
	color #e74c3c

div.container
	background-color transparent
	height 100%

#login-container
	color #34495e
	margin-top 5%
	margin-left 27%
	width 100%
	

	#login-form, #register-form
		img
			width 100%

		#titulo-form, #img-form
			display inline-block
			vertical-align top
			padding-bottom 15px
		#img-form
			figure
				width 65px	
		input,label,select
			width 90%
		input,select
			height 30px
			font-size 16px

		button, div.checkbox
			display inline-block
			font-family 'open Sans'
			font-size 18px
			margin-right 15px

		input[type='checkbox']
			width 15px

#listing_users
	margin 0 auto
	padding 0
	width 90%
	margin-top 50px

	div
		display inline-block
		vertical-align top
		width 47%
		margin 0 auto
		padding 0
		margin 4px
		.usuario_container
			display inline-block
			vertical-align top
			width 100%
			-webkit-transform scale(1,1)
			-webkit-transition-timing-function ease-out
			-webkit-transition-duration 250ms

			img
				width 100%

			figure, .perfil_usuario
				display inline-block
				vertical-align middle
			figure
				width 25%
				margin 0
				padding 0
				margin-left 5px
				margin-right 10px

			.perfil_usuario
				width 70%
				margin-top 5px
				padding-left 5px

				.name_usuario, .puesto_usuario, .info_usuario, .email_usuario
					width 100%
					p
						display inline-block
						vertical-align top
				.info_usuario
					.info
						width 100%
		&:hover
			cursor pointer
				


.tipoUsuario-1
	background-color rgba(46,204,113,0.3)
	border-right 3px solid #27ae60
	text-decoration none
	a
		color #fff

	.etiqueta
		color #27ae60
		font-weight bold

	.info
		color #2980b9

.tipoUsuario-2
	background-color rgba(230,126,34,0.3)
	border-right 3px solid #E67E22
	text-decoration none
	a
		color #fff

	.etiqueta
		color #d35400
		font-weight bold

	.info
		color #c0392b

.tipoUsuario-3
	background-color rgba(231,76,60,0.2)
	border-right 3px solid #E74C3C
	text-decoration none
	a
		color #fff

	.etiqueta
		color #c0392b
		font-weight bold

	.info
		color #d35400

.tipoUsuario-4
	background-color rgba(52,152,219,0.3)
	border-right 3px solid #3498db
	text-decoration none
	a
		color #fff

	.etiqueta
		color #2980b9
		font-weight bold

	.info
		color #2c3e50
